.module {
    display: flex;
    justify-content: center;
}


.board {
    width: 95%; /* Для мобильных устройств */
  }
  
  /* Планшеты – минимальная ширина 640px */
  @media (min-width: 640px) {
    .board {
      width: 70%; /* Немного меньше для планшетов */
    }
  }
  
  /* Маленькие настольные компьютеры – минимальная ширина 768px */
  @media (min-width: 768px) {
    .board {
      width: 60%; /* Уменьшаем до 75% на маленьких настольных компьютерах */
    }
  }
  
  /* Средние настольные компьютеры – минимальная ширина 1024px */
  @media (min-width: 1024px) {
    .board {
      width: 50%; /* Сужаем до 60% на средних настольных экранах */
    }
  }
  
  /* Большие настольные компьютеры – минимальная ширина 1280px */
  @media (min-width: 1280px) {
    .board {
      width: 40%; /* Используем желаемые 50% на больших настольных экранах */
    }
  }
  
  /* Очень большие настольные компьютеры – минимальная ширина 1536px */
  @media (min-width: 1536px) {
    .board {
      width: 30%; /* Уменьшаем ширину до 40% для очень большого экрана */
    }
  }
  